<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button class="volver" (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="calendar"></ion-icon>
      Mis citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <br>
  <ion-card>
    <ion-item>Citas pasadas</ion-item>
  </ion-card>
  <ng-template ngFor let-c [ngForOf]="cita">
    <ion-card *ngIf="c.fecha < today">
      <ion-item class="old">      
      El {{c.fecha}}, {{c.dia}}, a las {{c.hora}}     
      </ion-item>
    </ion-card>
  </ng-template>
  <br>
  <ion-card>
    <ion-item>Citas futuras</ion-item>
  </ion-card>

  <ng-template ngFor let-c [ngForOf]="cita">
  <ion-card *ngIf="c.fecha >= today">
    <ion-item >      
    El {{c.fecha}}, {{c.dia}}, a las {{c.hora}}     
    </ion-item>
  </ion-card>
</ng-template>


  <ion-card *ngIf="errorCita == true">
    <ion-item>No hay citas</ion-item>
  </ion-card>

</ion-content>

<ion-footer class="ion-no-border">
  
</ion-footer>
