<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="calendar"></ion-icon>
      Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <br>
  <ion-card>
    <ion-item>
      <ion-label position="stacked">Correo electrónico:</ion-label>
      <ion-input #email></ion-input>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item>
      <ion-label position="stacked">Nombre:</ion-label>
      <ion-input #name></ion-input>
    </ion-item>
  </ion-card>
    <ion-card>
    <ion-item>    
      <ion-label position="stacked">Apellido/s:</ion-label>
      <ion-input #surname></ion-input>
    </ion-item>
    </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Seleccione la fecha</ion-label>
    </ion-item>
    <ion-item>
      <ion-input #fecha type="date" [min]="today" max="2021-12-31" (ionChange)="_ionChange($event)"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="cerrado == true">
    <ion-item>
      <ion-label class="cerrado">Los domingos el local permanece cerrado</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Seleccione la hora</ion-label>
      <ion-select #familia class="prim" okText="OK" cancelText="Cancelar">
        <ion-select-option *ngFor="let user of customHourValues" value="{{user}}" >{{user}}</ion-select-option>
      </ion-select>
    </ion-item>  
  </ion-card>

  <div *ngIf="cerrado == false">
    <ion-button (click)="comprobarDisp(fecha.value, familia.value, email.value, name.value, surname.value)">Comprobar disponibilidad</ion-button>
  </div>
  <div *ngIf="cerrado == false">
    <ion-button (click)="reservarCita(fecha.value, familia.value, email.value, name.value, surname.value)">Reservar Cita</ion-button>
  </div>
 
</ion-content>

<ion-footer class="ion-no-border">
</ion-footer>