<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button class="volver" (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="log-in"></ion-icon>
      Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<form [formGroup]="userF">
<ion-card>
  <ion-item>
    <ion-label position="stacked">Usuario:</ion-label>
    <ion-input #user formControlName="NomUsuario"></ion-input>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input #pass #passwordEyeRegister  [type]="passwordTypeInput"  formControlName="Password" clearOnEdit="false"> 
      </ion-input>
    <button  item-end  class="btn_eye_icon"  (click)="togglePasswordMode()">
      <ion-icon  [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
    </button>
</ion-item>
</ion-card>
<ion-card class="boton">
  <ion-item class="boton">
    <ion-button (click)="loguearse(user.value, pass.value)">Iniciar sesión</ion-button>    
  </ion-item> 
  <ion-item>
    <a slot="start" (click)="registro()" class="underline">¿Aún no te has registrado?</a>
  </ion-item>  
</ion-card>
</form>
</ion-content>

