ion-content {
    --background: #d3c9c9;
}
ion-menu-button {
    font-size: 30px;

}ion-item {
    font-size: 22px;   
    white-space: normal;
}
ion-button {    
    font-size: 20px;
    --background:  black; 
}
ion-label.cerrado {
    white-space: normal;
}
div {
    text-align: center;
}