<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button class="volver" (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="log-in"></ion-icon>
      Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="userL">
    <ion-card>
    <ion-item>
      <ion-label position="stacked">Usuario:</ion-label>
      <ion-input formControlName="NomUsuario" #user></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="userL.controls.NomUsuario.errors?.required && (userL.touched || userL.dirty)">* El nombre es obligatorio </ion-label>
    <ion-label color="danger" *ngIf="userL.controls.NomUsuario.errors?.minlength && (userL.touched || userL.dirty)">* El nombre tiene que tener al menos 4 caracteres.</ion-label>    
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input formControlName="Password"  minlenght="8" #pass #passwordEyeRegister [type]="passwordTypeInput" clearOnEdit="false"> 
        </ion-input>
      <button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
        <ion-icon  [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
      </button>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <ion-label position="stacked">Confirmar contraseña</ion-label>
    <ion-input class="confirm" #passConf #passwordEyeRegister [type]="passwordTypeInput" formControlName="Password" clearOnEdit="false"> 
      </ion-input>
    <button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
      <ion-icon  [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
    </button>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <ion-label position="stacked">Correo electrónico:</ion-label>
    <ion-input formControlName="Email"  #email></ion-input>
  </ion-item>
  <ion-label color="danger" *ngIf="userL.controls.Email.errors?.Email && (userL.touched || userL.dirty)">* El email no es válido.</ion-label>
</ion-card>
<ion-card>
  <ion-item>
    <ion-label position="stacked">Nombre:</ion-label>
    <ion-input formControlName="Nombre"  #name></ion-input>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <ion-label position="stacked">Apellido/s:</ion-label>
    <ion-input formControlName="Apellido"  #surname></ion-input>
  </ion-item>
</ion-card>
  <ion-card>
    <ion-item >
      <ion-button (click)="register(user.value, pass.value, email.value, name.value, surname.value, passConf.value)">Registrarse</ion-button>
    </ion-item>    
  </ion-card>  
  </form>
</ion-content>

<ion-footer class="ion-no-border">
</ion-footer>
