<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>        
          <ion-list-header>Peluqueria TuPelu</ion-list-header>  
          <section *ngIf="estaLogueado()">            
            <ion-chip  class="ion-margin-start" [routerLink]="['/info']">              
              <ion-icon name="person-circle"></ion-icon>             
              <ion-label>{{user}}</ion-label>
            </ion-chip>  
          </section>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/home']">
              <ion-icon name="home" ></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/reserva']">
              <ion-icon name="calendar" ></ion-icon>
              <ion-label>Reserva tu cita</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/citas']">
              <ion-icon name="calendar"></ion-icon>
              <ion-label>Mis citas</ion-label>
            </ion-item>
            <ion-item *ngIf="!estaLogueado()" [routerLink]="['/login']">
              <ion-icon name="log-in"></ion-icon>
              <ion-label>Iniciar sesión</ion-label>
            </ion-item>
            <ion-item *ngIf="estaLogueado()" [routerLink]="['/info']">
              <ion-icon name="person"></ion-icon>
              <ion-label>Información Usuario</ion-label>
            </ion-item>
            <ion-item *ngIf="estaLogueado()" (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              <ion-label>Cerrar sesión</ion-label>
            </ion-item>
          </ion-menu-toggle>        
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
